@mixin text-hidden($line-clamp){
    text-overflow: ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:$line-clamp;
	-webkit-box-orient:vertical;
	overflow:hidden
}

@mixin img-prod-resp($padding-top){
	position: relative;
	height: auto !important; 
	width: 100%; 
	padding-top: $padding-top; 
	overflow: hidden;
	img { 
		object-fit: cover; 
		margin: auto; 
		position: absolute; 
		width: 100%; 
		height: 100%; 
		top: 0; 
		left: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: .3s ease-in-out;
		transition: .3s ease-in-out;

	}
	&:hover{
		img{
			-webkit-transform: scale(1.1);
			transform: scale(1.1);
		}
	}
	
}

@mixin heading($font-size){
	font-size: $font-size;
    margin: 0 0 15px;
	color:#ed7f1e;
	text-align: center;
	text-transform: uppercase;

}
@mixin font-roboto-medium{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
@mixin font-roboto-ligh-italic{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: italic;
}