$font-all:'Arimo', sans-serif;
$font-SVN:SVNAnastasia;
$font-roboto:'Roboto', sans-serif;;
$color-bgr-head:#ed7f1e;
$color-text-all:#4b4b4b;
$text-slg-or-hover:#87bc25;
$color-price:#f47339;
$bgr-opa: rgba(0, 0, 0, 0.3);
$bgr-detail:#f6f6f6;
$border-bt:#d2d2d2;
$color-blu: #19bee8;
$bgr-ft:#f7f7f7; 
@font-face {
    font-family: 'SVNAnastasia';
    src: url('../css/fonts/SVNAnastasia.woff')format('woff');
}
