body { 
	background: #fff; 
	color: $color-text-all; 
	font-family: $font-all;
	margin:0;
	padding: 0;
	.Wrapper {
	    max-width: 1900px;
	    margin: 0 auto;
	} 
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6,
	p{
    	margin-bottom: 0;
	}
	ul,li{
		list-style: none;
		padding: 0;
		margin-bottom: 0;
	}
	img{
		max-width: 100%;
	}
	button,input,select,textarea{
		&:focus{
			outline: 0;
		}
	}
	a{	
		color: unset;
		text-decoration: none;
		&:hover,&:active,&:focus{
			text-decoration: none;
			color: unset;

		}
	}
	i{
		font-size: 15px;
	}
	.fa-map-marker,.fa-plane {
	    font-size: 20px;
	}
	.fa-envelope{
		font-size: 14px;
	}
	.heading-hide{
		display: none;
	}
	.back-to-top {
		position: fixed;
		bottom: -50px;
		right: -50px;
		transition: all .5s ease-out;
		-webkit-transition: all .5s ease;
		-moz-transition: all .5s ease;
		-o-transition: all .5s ease;
		width: 40px;height: 40px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px !important;
		-moz-background-clip: padding;
		background-color: $color-bgr-head;
		line-height: 45px;
		text-align: center;
		color: #fff;
		display: inline;
		z-index: 999999;
		cursor: pointer;
		a{
			display: block;
			color:#fff

		}
		&:hover{
			background: $color-price;
			color: #fff;
		}
		&:hover,&:focus{
			a{
				color: #fff;
			}
		}
		&.display{
			bottom:50px;
			right: 10px;
		}
		&.fa{
			margin-bottom: 0;
		}
	}
	@media(max-width: 767px){
		font-size: 14px;
		.fa-map-marker,.fa-plane {
	    		font-size: 16px;
			}
	}	
	section{
		&:not(.box-slide){
			width: 100%;
			float: left;
			padding: 50px 0;
			.heading-tt{
				position: relative;
				text-align: center;
				margin-bottom: 40px;
				z-index: 9;
				h2{
					@include heading(30px);
				}
				
			}
			@media(max-width: 767px){
				padding: 30px 0;
				.heading-tt{
					h2{
						font-size: 24px;
					}
				}	
			}
		}
	}
	.pag{
		float: right;
		.page-item{
			.page-link{
				background: #efefef;
				border: none;
				width: 45px;
				height: 45px;
				line-height: 45px;
				text-align: center;
				padding: unset;
				cursor: pointer;
				@media(max-width: 767px){
					width: 35px;
					height: 35px;
					line-height: 35px;
				}
			}
			margin-left:5px;
			&:hover{
				.page-link{
					background: $color-bgr-head;
					color: #fff;
				}
			}
		}
		.active{
			.page-link{
				background: $color-bgr-head;
				color: #fff;
			}
		}
	}
	.clickall{
		position:absolute;
		width:100%;
		height:100%;
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index:10;
	}
	.item-prod{
		box-shadow: 0px 0px 20px 0px #00000010;
		position: relative;
		margin-bottom: 30px;
		z-index: 9;
		.box-img-prod{
			@include img-prod-resp(75%);
		}
		.info-prod{
			padding: 20px;
			.title{
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 15px;
				min-height: 48px;
				@include text-hidden(2);
				&:hover{
					color: $color-bgr-head;
				}

			}
			.time-tour{
				font-weight: 700;
				span{
					font-weight: 400;
				}
			}
			.price{
				.price-sale{
					font-size: 24px;
					color: $color-price;
					font-weight: 700;
					margin-right: 5px;
				}
				.price-o{
					font-size: 15px;
					text-decoration: line-through;
				}
			}
			.des-prod{
				font-size: 13px;
				@include text-hidden(3);
				min-height: 58px;
				font-style: italic;
			}
			@media(max-width: 767px){
				.title{
					font-size: 16px;
					min-height: 40px;
				}
				.price{
					.price-sale{
						font-size: 20px;
					}
				}
			}
		}
		.tag-sale{
			position: absolute;
			top: 0px;
			right: 0px;
			height: 30px;
			line-height: 30px;
			padding: 0 10px;
			background: $color-bgr-head;
			color: #fff;
			z-index: 9;

		}
	}
	.box-img-prod{
		@include img-prod-resp(75%);
	}
	section.sec-list{
		@media(min-width: 992px){
			.item-prod{
				margin-bottom: 60px;
			}
		}
	}
	section.list-img-place{
		ul{
			
			li{
				position: relative;
				float: left;
				width: 25%;
				.box-img-prod{
					@include img-prod-resp(80%);
				}
				&:first-child{
					.box-img-prod{
						@include img-prod-resp(160%);
					}
				}
				.title-pos-center{
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					text-align: center;
					font-family: $font-SVN;
					font-size: 35px;
					width: 100%;
					z-index: 10;
					padding: 10px;
					color: #fff;
					cursor: pointer;
				}
				.clickall{
					background:$bgr-opa;
				}

			}
			@media(min-width: 768px)and(max-width: 991px){
				li{
					.title-pos-center{
						font-size: 20px;
					}
				}
			}
			@media(max-width: 767px){
				li{
					width: 50%;
					&:first-child{
						width: 100%;
						.box-img-prod{
							@include img-prod-resp(75%);
						}
					}
					.title-pos-center{
						font-size: 18px;
					}
					&:first-child{
						.title-pos-center{
							font-size: 25px;
						}
					}
				}

			}

		}
		
	}
	
	section.box-slide-hotel{
		.slick-slide{
			margin: 0 15px;

		}
		.slick-dots {
    		position: absolute;
    		bottom: -25px;
		}
		.slide-list-place{
			h3{
				position: absolute;
				bottom: 0;
				left: 0;
				text-align: center;
				padding: 10px;
				background: rgba(0, 0, 0, 0.5);
				z-index: 9;
				width: 100%;
				font-size: 20px;
				font-weight: 700;
				color: #fff;
				display: none;
			}
			.slick-active{
				h3{
					display: block;
				}
			}
		}
		@media(max-width: 767px){
			.slick-slide{
				margin: 0;

			}
			.slide-list-place{
				h3{
					font-size: 16px;
				}
			}
			.slick-dots {
    			
    			bottom: -20px;
			}
		}
	}
	section.list-services{
		position: relative;
		&:before{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 285px;
			content: "";
			background-image: url("../images/bgr/bgr1.jpg");
			// background-attachment: fixed;
			background-size:cover;
			// z-index: 9;
		}
		&:after{
			position: absolute;
			width: 100%;
			height: 285px;
			left: 0;
			top: 0;
			z-index: 0;
			content: "";
			background: $bgr-opa;
		}
		.heading-tt{
			color: #fff;
			h2{
				font-weight: 700;
				color: #fff;
			}
		}
		.box-img-prod{
			@include img-prod-resp(100%);
			border-radius: 50%;
			img{
				border-radius: 50%;
				border: 5px solid #fff;
			}
		}
		.item-prod{
			box-shadow: none;
			.img-radius{
				padding: 15px 55px;
			}
			.info-prod{
				text-align: center;
				.title{
					text-transform: uppercase;
				}
				p{
					@include text-hidden(3);
				}
			}
			
		}
		@media(max-width: 767px){
			&:before,&:after{
				height: 215px;
			}
			.item-prod{
				margin-bottom: 15px;
				.info-prod{
					padding:5px 10px;
				}
			}
		}
		@media(max-width: 575px){
			.item-prod{
				box-shadow: none;
				.img-radius{
					padding: 15px 30%;
				}
			}
		}
	}
	section.blog{
		.box-list-blog{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			.item-news-big{
				width: calc(60% - 10px);
				position: relative; 
				.info-news{
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 10px;
					z-index: 9;
					background: rgba(0, 0, 0, 0.5);
					color:#fff;
					h3{
						font-size: 20px;
						margin-bottom: 10px;
						font-weight: 700;

					}
					.date-time-and-by {
					    font-size: 14px;
					}

				}
				&:hover{
					h3{
						color: $color-bgr-head;
					}
				}
			}
			.list-item-small{
				width: calc(40% - 10px);
				.item-news{
					position:relative;
					margin-bottom: 15px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					
					.img-news{
						width: calc(35% - 5px);
					}
					.info-news{
						width: calc(65% - 5px);
						h3{
							font-size: 16px;
							font-weight: 700;
							margin-bottom: 10px;
							&:hover{
								color: $color-bgr-head;
							}
							@include text-hidden(2);
						}
						
					}
				}
			}
			.date-time-and-by{
				
				span{
					font-weight: 700;
					font-size: 13px;
					i{
						color: $color-bgr-head;
					}
				}
			}
			.box-img-prod{
				@include img-prod-resp(65%);
				@media(min-width: 768px)and(max-width: 991px){
					@include img-prod-resp(80%);
				}
			}

		}
		@media(max-width: 767px){
			.box-list-blog{
				display: unset;
				.item-news-big{
					width: 100%;
					margin-bottom: 15px;
					.info-news {
						h3{
							font-size: 16px;
						}
					}

				}
				.list-item-small{
					width: 100%;
					.info-news {
						h3{
							font-size: 15px!important;
						}
					}
				}
			}
			
		}
	}
	section.about-id{
		position: relative;
		padding: 130px 0;
		&:before{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			content: "";
			background-image: url("../images/bgr/bg 3.jpg");
			background-size: cover;
		}
		&:after{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			content: "";
			background: $bgr-opa;
		}
		.heading-tt{
			color: #fff;
			h2{
				color: #fff;
				font-weight: 700;
			}
		}
		@media(min-width: 992px){
			.heading-tt{
				padding: 0 245px;
			}
		}
	}
	section.banner-page{
		padding:0;
		position: relative;
		&:before{
			position: absolute;
			width: 100%;
			height: 100%;
			content: "";
			left: 0;
			top: 0;
			background:$bgr-opa;
		}
		.breadc{
			position: absolute;
			bottom:20px;
			left: 0;
			width: 100%;
			text-align: center;

			.breadcrumb{
				justify-content: center;
				margin:0;
				background:none;
				li{
					color: #fff;
					opacity: 0.8;
					font-size: 22px;
					&:before{
						color: #fff;
					}
					@media(max-width: 767px){
						font-size: 15px;
					}
				}
				li.active{
					opacity: 1;
				}
			}
		}
	}
	section.banner-page-bottom{
		padding: 0;
		position: relative;
	}
	section.detail-{
		.pdl-image{
			margin-bottom: 20px;
		}
		.pdl-small-images{
			
			.item{
				margin-right:10px;
			}
			.slick-list{
				width: calc(100% + 9px);

			}
			.reponsive-img{
				@include img-prod-resp(75%);
			}
			&:hover{
				.slick-prev, .slick-next{
		   			
		   				opacity: 1;
		   				visibility: visible;
		   			
		   		}
			}

		}
		.slick-prev, .slick-next{
			
			width: 25px;
   			height: 25px;
   			border: 2px solid #fff;
   			&:before{
   				color: #fff;
   			}
		}
		.slick-prev{
			left: 5px;
			&:before{
				content:"\f0d9";
				font-family: fontAwesome;
			}
		}
		.slick-next{
			right: 5px;
			&:before{
				content:"\f0da";
				font-family: fontAwesome;
			}
		}
		.box-detail-main{
			margin-bottom: 80px;
		}
		.box-info-main{
			h2{
				font-size: 24px;
				margin-bottom: 30px;
				font-weight: 700;
				color: #000;
			}
			.rate-star{
				.checked{
					color: orange;
				}
				margin-bottom: 30px;
			}
			.list-info-main{
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 40px;
				li{
					width: 50%;
					margin-bottom: 10px;
					position: relative;
					padding-left: 25px;
					padding-right: 5px;
					font-size: 14px;
					font-weight: 700;

					i{
						position: absolute;
						top: 3px;
						left: 0;
						color: $color-bgr-head;

					}
					span{
						color: #000;
					}


				}
			}
			.des-main{
				margin-bottom: 40px;
				font-size: 13px;
			}
			table{
				font-size: 13px;
				border: 1px solid $text-slg-or-hover;
				margin-bottom: 80px;
				th{
					font-weight: 700;
					text-transform: uppercase;
				}
				.bgr-tb{
					background: $text-slg-or-hover;
					color: #fff;
					text-transform: uppercase;
					
				}
			}
			.box-form{
				display: flex;
				justify-content: space-between;
				.order-date{
					position: relative;
					width: calc(50% - 10px);
					input{
						// position: absolute;
						width: 100%;
						height: 40px;
						padding: 0 10px 0 50px;
						// left: 0;
						// top: 0;
					}
					span{
						position: absolute;
						left: 0;
						top: 0;
						width: 40px;
						height: 40px;
						text-align: center;
						line-height: 40px;
						z-index: 9;
						border-right: 1px solid gray;
					}
				}
				.btn-order{
					width: calc(50% - 10px);
					height: 40px;
					text-align: center;
					background: $color-bgr-head;
					color: #fff;
					border: none;
					font-size:18px;
					text-transform: uppercase;
					font-weight: 700;
					&:focus{
						outline: 0;
					}
				}
				.modal-content{
					border-top:10px solid $color-bgr-head;
				}
				.modal-header{
					display: unset;
					text-align: center;
					padding: 50px 0;
					border-bottom: 0;
					h4{
						font-size: 24px;
					    text-transform: uppercase;
					    font-weight: 700;
					    margin-bottom: 15px;
					}
					.close{
						position: absolute;
					    top: -5px;
					    background: #000;
					    right: 0px;
					    z-index: 9;
					    opacity: 1;
					    height: 30px;
					    width: 30px;
					    text-align: center;
					    line-height: 0;
					    font-size: 19px;
					    border-radius: 50%;
					    color: #fff;
					    padding: 0;
					}
					@media(max-width: 767px){
						padding:20px 0;
						h4{
							font-size: 20px;
						}
					}
				}
				.modal-body{
					display: flex;
					justify-content: space-between;
					flex-wrap:wrap;
					border-bottom: none;
					.info-order-tour{
						width: calc(50% - 10px);
						input{
							margin-bottom: 30px;
							height: 40px;
							width: 100%;
							padding: 0 15px;
							line-height: 40px;
							&:last-child{
								margin-bottom: 0;
							}
						}
						textarea{
							width: 100%;
							padding: 5px 15px;
						}
					}
					@media(max-width: 767px){
						padding: 10px;
						display: unset;
						.info-order-tour{
							width: 100%;
							input{
								margin-bottom: 15px;
								&:last-child{
									margin-bottom: 15px;
								}
							}
						}
					}
				}
				.modal-footer{
					text-align: center;
					justify-content: center;
					border-top: none;
					padding: 50px 0;
					button{
						width: 300px;
					    height: 40px;
					    text-align: center;
					    background: #ed7f1e;
					    color: #fff;
					    border: none;
					    font-size: 18px;
					    text-transform: uppercase;
					    font-weight: 700;
					}
					@media(max-width: 767px){
						padding:20px 0;
					}
				}
			}

		}
		.box-detail-extra{
			@include font-roboto-medium;
			.tablinks{
				font-size: 14px;
				text-transform: uppercase;
				height: 45px;
				padding: 0 30px;
				background: $bgr-detail;
				border: none;
				border-bottom:5px solid #fff;
				font-weight: 700;
				color: $color-text-all;
			}
			.tablinks.active{
				border-bottom:5px solid $bgr-detail;
				color: $color-bgr-head;
			}
			.tabcontent{
				display: none;
				background: $bgr-detail;
				padding: 30px;
			}
			.content-lichtrinh{
				position: relative;
				padding-left: 30px;
				&:before{
				    content: "";
				    width: 0px;
				    height: calc(100% - 50px);
				    position: absolute;
				    z-index: 2;
				    top: 26px;
				    left: 7px;
				    border-left: 1px dashed $border-bt;
				}
				
				.panel{
					position: relative;
					border-bottom: 1px solid $border-bt;
					padding: 20px 0;
					&:last-child{
						border-bottom: none;
					}
					
				}
				.panel-heading {
					position: relative;
					cursor: pointer;
					font-size: 15px;
					// height: 60px;
					// line-height: 60px;
					&:hover{
						color: $color-bgr-head;
					}
					&:before{
						position: absolute;
					    left: -30px;
					    z-index: 9;
					    top: 0;
					    width: 15px;
					    height: 15px;
					    border-radius: 50%;
					    content: "";
					    background: $color-bgr-head;
					}


					.chevron{
						position: absolute;
						right: 0px;
						top: 0px;
						font-size: 20px;
					}
				}
				.content-lt{
					font-size: 14px;
					margin-top: 10px;
					@include font-roboto-ligh-italic;

				}
				
			}
			.panel-heading .chevron:after {
			    content: "\f0d7";   
			}
			.panel-heading.collapsed .chevron:after {
			    content: "\f0d8"; 
			}

			.box-tour-sale-r{
				padding: 10px;
				background: $bgr-detail;
				margin-top: 45px;
				.hd-detail-sale{
					font-size: 18px;
					@include font-roboto-medium;
					padding: 30px 0;
					text-transform: uppercase;
					color: $color-bgr-head;
				}
				.item-prod{
					box-shadow: none;
					border-bottom: 1px solid $border-bt;
					padding-bottom: 15px;
					margin-bottom: 20px;
					.box-img-prod{
						margin-bottom: 15px;
						@include img-prod-resp(55%);
					}
				}
				.info-prod{
					padding: 0;
					.title{
						font-size: 15px;
						margin-bottom: 10px;
						min-height: unset;

					}
				}
				.box-info-tour-sale{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					font-size: 12px;
					.price-sale{
						font-size: 13px;
						color: $color-blu;
					}
					.time-tour{
						font-style: italic;
						span{
							font-weight:bold;
						}
					}
				}
			}
			@media(min-width: 992px){
				.box-tour-sale-r,.tabcontent{
					min-height: 850px;
				}

			}
			@media(min-width: 768px) and(max-width: 991px){
				.list-tour-sale{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between; 
					li{
						width: calc(50% - 5px);
						.item-prod{
							.title{
								min-height: 36px;
								@include text-hidden(2);
							}
						}

					}
				}
			}
						
		}
		@media(max-width: 991px){
			.ImgDetailProduct{
				margin-bottom: 15px;
			}


		}
		@media(max-width: 767px){
			.box-detail-main{
				margin-bottom: 35px;
			}
			.box-info-main{
				h2{
					font-size: 20px;
					margin-bottom: 15px;
				}
				.list-info-main {
					margin-bottom: 20px;
					li{
						font-size: 13px;
					}
				}
				.des-main{
					margin-bottom: 20px;
				}
				table{
					font-size: 12px;
					margin-bottom: 30px;
				}
				.box-form{
					display: unset;
					.order-date,.btn-order{
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
			.box-detail-extra{
				.tablinks{
					padding: 0 7px;
					font-size: 13px;
				}
				.tabcontent{
					padding: 10px;
				}
				.content-lichtrinh{
					padding-left: 20px;
					.panel-heading{
						font-size: 14px;
						&:before{
							left: -18px;
							width: 12px;
							height: 12px;
						}
					}
				}
			}
		}
	}
	section.list-hotel{
		
	}
	section.detail-hotel{
		.box-info-main{
			h2{
				margin-bottom: 5px;
			}
			.box-form{
				justify-content: flex-end;
				@media(max-width: 767px){
					.btn-order{
						width: 100%;
					}
				}
			}
		}
	}
	section.list-blog{
		.item-news{
			margin-bottom: 50px;
			.img-news{
				margin-bottom: 15px;
			}
			.info-news{
				h3{
					font-size:18px;
					font-weight: 700;
					margin-bottom: 10px;
					@include text-hidden(2);
					min-height: 44px;
					&:hover{
						color: $color-bgr-head;
					}
				}
				.date-time-and-by{
					span{
						i{
							color: $color-bgr-head;
						}
					}
					font-size: 13px;
					display: flex;
					// justify-content: space-between;
					flex-wrap: wrap;
					.by-author-news{
						font-style: italic;
						margin-left: 20px;	
					}
				}
				@media(max-width: 767px){
					h3{
						font-size: 16px;
					}
				}
			}
		}
	}
	section.contact{
		font-family: $font-roboto;
		.header-contact{
			margin-bottom: 40px;
			h2{
				font-family: $font-all;
				font-size: 28px;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				margin-bottom: 100px;
			}
			.list-info-contact{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-bottom: 50px;
				border-bottom: 1px solid #bbbbbb;
				li{
					width: calc((100% - 60px )/3);
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					font-weight: 300;
					.icon-radius{
						height: 50px;
						width: 50px;
						line-height: 50px;
						text-align: center;
						color: $color-bgr-head;
						border: 1px solid $color-bgr-head;
						border-radius: 50%;
					}
					.ct-if{
						width: calc(100% - 60px);
						margin-left: 20px;
					}
				}
			}
		}
		.body-contact{
			
			label{
				font-size: 18px;
				margin-bottom: 50px;
				display: block;
				width: 100%;
				text-align: center;
				font-weight: 300;
			}
			.box-import-contact{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				margin-bottom: 35px;
				input{
					width: calc((100% - 60px)/3);
				    height: 40px;
				    padding: 0 15px;
				    line-height: 40px;
				    font-weight: 300;
				    margin-bottom: 30px;
				}
				textarea{
					width: 100%;
					font-weight: 300;
					padding: 15px;
				}
			}
			.box-btn-send{
				text-align: center;
				margin-bottom: 120px;
				button{
					width: 375px;
				    height: 55px;
				    text-align: center;
				    background: #ed7f1e;
				    color: #fff;
				    border: none;
				    font-size: 24px;
				    text-transform: uppercase;
				    font-weight: 700;
				    font-family:$font-all;
				
				}
			}

				
			
		}
		@media(max-width: 767px){
			.header-contact{
				h2{
					font-size:24px;
					margin-bottom: 30px;
				}
				.list-info-contact{
					 display: unset;
					margin-bottom: 30px;
					li{
						width: 100%;
						margin-bottom: 15px;
					}
				}
			}
			.body-contact{
				
				label{
					margin-bottom: 30px;
				}
				.box-import-contact{
					// display: unset;
					input{
						width: 100%;
						margin-bottom: 15px;
					}
				}
				.box-btn-send{
					margin-bottom: 50px;
					button{
						width: 100%;
					}
				}
			}
		}
	}
	section.detail-page-content{
		.content-heading{
			margin-bottom: 20px;
			.title-news{
				font-size: 20px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			.date-time-and-by{
				i{
					color: $color-blu;
					margin-right: 5px;
				}
			}
				
		}
		.heading-extra-r{
			font-size: 18px;
			margin-bottom: 25px;
			text-transform: uppercase;
			color: $color-bgr-head;
			font-weight: 700;
		}
		.list-new-extra{
			.item-news{
				position: relative;
			    margin-bottom: 15px;
			    padding-bottom: 15px;
			    border-bottom: 1px solid $border-bt;
			    display: flex;
			    flex-wrap: wrap;
			    justify-content: space-between;
			    &:last-child{
			    	border-bottom: none;
			    }
			    .img-news{
			    	width: calc(35% - 5px);
			    }
			    .info-news{
			    	width: calc(65% - 5px);
			    	h3{
			    		font-size: 14px;
					    font-weight: 700;
					    margin-bottom: 5px;
					    @include text-hidden(2);
					    &:hover{
					    	color: $color-bgr-head;
					    }
			    	}
			    	.date-time-and-by{
			    		font-size: 13px;
			    		i{
			    			color: $color-blu;
			    		}
			    	}
			    }
			}

		}
		@media (max-width: 991px) {
			.page-content-l{
				margin-bottom: 30px;
			}
		}
	}
	.box-bt-ct{
		.item-news{
			box-shadow: 0px 0px 20px 0px #00000010;

			.img-news{
				margin-bottom: 0!important;
			}
			.info-news{
				padding: 10px;
				h3{
					font-size: 16px!important;
				}
			}
		}
	}
	.page-content-all{
		.title-news{
			font-size: 28px!important;
			color: $color-bgr-head;
			@media(max-width: 767px){
				font-size: 20px!important;
			}
		}
	}
}
	
