#footer{
	padding: 30px 0;
	clear: both;
	background: $bgr-ft;
	.row{
		>div{
			margin-bottom: 10px;
		}
	}
	.address-ft{
		.logo-ft{
			width: 95px;
			margin-bottom: 15px;
			padding: 5px;
		}
		h2{
			font-size: 15px;
			font-weight: 700;
			margin-bottom: 20px;
		}
		p{
			margin-bottom: 10px;
			i{
				width: 20px;
				color: $color-bgr-head;
			}
			
		}
	}
	.link-menu-ft{
		li{
			position: relative;
			padding-left: 15px;
			margin-bottom: 15px;
			&:before{
				position: absolute;
				top: 0px;
				left: 0;
				font-family: fontAwesome;
				content:"\f0da";
				color: $color-bgr-head;
			}
			&:hover{
				color: $color-bgr-head;
			}
		}
	}
	.title-item-ft{
		font-size: 20px;
		font-weight: 700;
		margin-top: 25px;
		margin-bottom: 30px;
	}
	@media(max-width: 767px){
		.title-item-ft{
			margin:15px 0;
		}
	}

}