header{
	z-index: 9999;
}
.header-top{
	background: #fff;
	.container{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-wrap: wrap;
	}
	.logo{
		width: 95px;
		padding: 5px;
		h1{
			width: 100%;
		}
		img{
			width: 100%;
		}
	}
	.slogan-hd{
		font-family: $font-SVN;
		font-size: 28px;
		color: $text-slg-or-hover;
	}
	.link-hd-t{
		a{
			width: 34px;
			margin-left: 5px;
		}
		
	}
	@media(max-width: 991px){
		.link-hd-t{
			display: none;
		}
		.container{
			justify-content: unset;
		}
	}
	@media(max-width: 767px){
		.slogan-hd{
			font-size: 14px;
			margin-left:5px;
		}
		
		.container{
			// display: flex;
		 //    justify-content: unset;
		 //    align-items: center;
		 //    flex-wrap: unset;
		    .logo{
		    	// align-self: flex-start;
		    	width: 65px;
		    }
		}
				
	}
}



