.menu{
	background: $color-bgr-head;
	.navbar{
		padding: 0;
		.navbar-toggler {
		    position: absolute;
		    right: 0;
		    top: -50px;
		    color: $color-bgr-head;
		    border:1px solid $color-bgr-head;
		    padding: .25rem 0.50rem;
		    @media (min-width: 768px) and (max-width: 991px) {
		    	top:-70px;
		    }
		}
	}
	.navbar-nav{
		justify-content: space-between;
		width: 100%;
		.dropdown{
			.dropdown-menu{
				margin:0;
				padding: 0;
				border-radius: 0;
				.dropdown-item{
					position: relative;
					&:active,&:focus{
						background: unset;
					}
				}
			}
		}
		.nav-item.active{
			color: #fff;
			background: $text-slg-or-hover;
		}
		.nav-item{
			.nav-link{
				font-weight: 700;
				padding: 10px 15px;
			}
		}

		@media(max-width: 991px){
			.nav-item{
				.nav-link{
					color: #fff;
				}
			}
			.dropdown-menu {
				.dropdown-item {
					position: relative;
			    	padding: 10px;
			    	&:active{
			    		color: unset;
			    	}
			    	&:hover{
			    		a{
			    			color: $color-bgr-head;
			    		}
			    	}
				} 
			}
		}
		@media(min-width: 992px){
			.dropdown{
				.dropdown-menu{
					min-width: 250px;
				    display: block;
				    opacity: 0;
				    visibility: hidden;
				    -webkit-transform: translateY(20px);
				    -moz-transform: translateY(20px);
				    -ms-transform: translateY(20px);
				    -o-transform: translateY(20px);
				    transform: translateY(20px);
				    -webkit-transition: -webkit-transform .1s ease, opacity .1s ease, visibility .1s ease;
				    -moz-transition: -moz-transform .1s ease, opacity .1s ease, visibility .1s ease;
				    transition: transform .1s ease, opacity .1s ease, visibility .1s ease;
					.dropdown-item{
						position: relative;
						padding: 8px 5px 8px 25px;
						&:before{
							content: "";
							position: absolute;
							top: 15px;
							left: 5px;
							height: 7px;
							width: 7px;
							border-radius: 50%;
							background: $color-bgr-head;
						}
						&:active{
							color: unset;
						}
						&:hover,&:focus{
							color: $color-bgr-head;
							background: unset;
						}
						a{
							display: block;
						}
					}
				}
				&:hover{
					.dropdown-menu{
						opacity: 1;
						visibility: visible;
						-webkit-transform: translateY(0);
					    -moz-transform: translateY(0);
					    -ms-transform: translateY(0);
					    -o-transform: translateY(0);
					    transform: translateY(0);
						-webkit-transition: -webkit-transform .4s ease;
					    -moz-transition: -moz-transform .4s ease;
					    transition: transform .4s ease;
					}
				}

			}
			.nav-item{
				.nav-link{
					font-weight: 700;
					color: #fff;
					padding: 10px 15px;
					font-size: 17px;
				}
				&:hover,&:focus,&:active{
					background: $text-slg-or-hover;
				}
			}	
		}
		
	}
}