.box-slide{
	position: relative;
	

	.slide-id{
		position: relative;
		.slick-slide{
			img{
				width: 100%;
				max-height: none;
			}
		}
		&:hover{
			.slick-prev,
			.slick-next{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// search
	.box-search{
		position: absolute;
		width: 100%;
		bottom: 100px;
		form{
			padding: 30px;
			background: rgba(255,255,255,0.5);
			display: flex;
    		justify-content: space-between;

			button{
				height: 65px;
				width: 165px;
				
				text-transform: uppercase;
				// font-weight: 700;
				background: $color-bgr-head;
				border:none;
				color: #fff;
			}
			select,input{
				height: 65px;
			    flex: 1;
    			margin-right: 15px;
				padding: 0 20px;
				border:none;

			}
		}
	}
	@media(max-width:991px){
		.box-search{
			position: relative;
			width: 100%;
			bottom: unset;
			padding: 10px 0;
			form{
				padding: 0;
				background: rgba(255,255,255,0.5);
				display: unset;
	    		justify-content: unset;

				button{
					height: 45px;
					width: 100%;
					
					text-transform: uppercase;
					// font-weight: 700;
					background: $color-bgr-head;
					border:none;
					color: #fff;
				}
				select,input{
					height: 45px;
					width: 100%;
				    flex: unset;
	    			margin-right: 0;
					padding: 0 20px;
					margin-bottom: 5px;
				}
			}
		}
	}

}
.slick-slide{
	img{
		width: 100%;
		max-height: none;
	}
}
.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: 1px solid $color-bgr-head;
    border-radius: 50%;
    outline: none;
    background: transparent;
    z-index: 9;
    opacity: 0;
    visibility:hidden;
    &:before{
	    font-family: 'slick';
	    font-size: 20px;
	    line-height: 1;
	    opacity: .75;
	    color: $color-bgr-head;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	}
	   
}
.slick-arrow{
	&:focus{		
		outline: none;

	}
}
.slick-prev{
	left: 20px;
	&:before{
    	content: '←';
    }
}
.slick-next{
	right: 20px;
	&:before{
        content: '→';
    }
}
.slick-dots {
    position: absolute;
    bottom: 10px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    li {
	    position: relative;
	    display: inline-block;
	    width: 15px;
	    height: 15px;
	    margin: 0 5px;
	    padding: 0;
	    cursor: pointer;
	    button {
		    font-size: 0;
		    line-height: 0;
		    display: block;
		    width: 17px;
		    height: 17px;
		    padding: 5px;
		    cursor: pointer;
		    color: transparent;
		    border:0;
		    border-radius: 50%;
		    outline: none;
		    background: transparent;
		    &:before {
			    font-family: 'slick';
			    font-size: 45px;
			    line-height: 17px;
			    position: absolute;
			    top: 0;
			    left: 0;
			    width: 17px;
			    height: 17px;
			    content: '•';
			    text-align: center;
			    opacity: .5;
			    color: $color-bgr-head;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			}
		}
	}
	.slick-active{
		button{
			&:before{
				opacity: 1;
				visibility: visible;
	    		
			}
		}
	}
}
