@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Arimo:400,400i,700|Roboto:300,300i,500,700&display=swap");
@font-face {
  font-family: 'SVNAnastasia';
  src: url("../css/fonts/SVNAnastasia.woff") format("woff"); }

header {
  z-index: 9999; }

.header-top {
  background: #fff; }
  .header-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .header-top .logo {
    width: 95px;
    padding: 5px; }
    .header-top .logo h1 {
      width: 100%; }
    .header-top .logo img {
      width: 100%; }
  .header-top .slogan-hd {
    font-family: SVNAnastasia;
    font-size: 28px;
    color: #87bc25; }
  .header-top .link-hd-t a {
    width: 34px;
    margin-left: 5px; }
  @media (max-width: 991px) {
    .header-top .link-hd-t {
      display: none; }
    .header-top .container {
      justify-content: unset; } }
  @media (max-width: 767px) {
    .header-top .slogan-hd {
      font-size: 14px;
      margin-left: 5px; }
    .header-top .container .logo {
      width: 65px; } }

.menu {
  background: #ed7f1e; }
  .menu .navbar {
    padding: 0; }
    .menu .navbar .navbar-toggler {
      position: absolute;
      right: 0;
      top: -50px;
      color: #ed7f1e;
      border: 1px solid #ed7f1e;
      padding: .25rem 0.50rem; }
      @media (min-width: 768px) and (max-width: 991px) {
        .menu .navbar .navbar-toggler {
          top: -70px; } }
  .menu .navbar-nav {
    justify-content: space-between;
    width: 100%; }
    .menu .navbar-nav .dropdown .dropdown-menu {
      margin: 0;
      padding: 0;
      border-radius: 0; }
      .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item {
        position: relative; }
        .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:active, .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus {
          background: unset; }
    .menu .navbar-nav .nav-item.active {
      color: #fff;
      background: #87bc25; }
    .menu .navbar-nav .nav-item .nav-link {
      font-weight: 700;
      padding: 10px 15px; }
    @media (max-width: 991px) {
      .menu .navbar-nav .nav-item .nav-link {
        color: #fff; }
      .menu .navbar-nav .dropdown-menu .dropdown-item {
        position: relative;
        padding: 10px; }
        .menu .navbar-nav .dropdown-menu .dropdown-item:active {
          color: unset; }
        .menu .navbar-nav .dropdown-menu .dropdown-item:hover a {
          color: #ed7f1e; } }
    @media (min-width: 992px) {
      .menu .navbar-nav .dropdown .dropdown-menu {
        min-width: 250px;
        display: block;
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -webkit-transition: -webkit-transform .1s ease, opacity .1s ease, visibility .1s ease;
        -moz-transition: -moz-transform .1s ease, opacity .1s ease, visibility .1s ease;
        transition: transform .1s ease, opacity .1s ease, visibility .1s ease; }
        .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item {
          position: relative;
          padding: 8px 5px 8px 25px; }
          .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:before {
            content: "";
            position: absolute;
            top: 15px;
            left: 5px;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: #ed7f1e; }
          .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:active {
            color: unset; }
          .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover, .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item:focus {
            color: #ed7f1e;
            background: unset; }
          .menu .navbar-nav .dropdown .dropdown-menu .dropdown-item a {
            display: block; }
      .menu .navbar-nav .dropdown:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition: -webkit-transform .4s ease;
        -moz-transition: -moz-transform .4s ease;
        transition: transform .4s ease; }
      .menu .navbar-nav .nav-item .nav-link {
        font-weight: 700;
        color: #fff;
        padding: 10px 15px;
        font-size: 17px; }
      .menu .navbar-nav .nav-item:hover, .menu .navbar-nav .nav-item:focus, .menu .navbar-nav .nav-item:active {
        background: #87bc25; } }

body {
  background: #fff;
  color: #4b4b4b;
  font-family: "Arimo", sans-serif;
  margin: 0;
  padding: 0; }
  body .Wrapper {
    max-width: 1900px;
    margin: 0 auto; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p {
    margin-bottom: 0; }
  body ul, body li {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }
  body img {
    max-width: 100%; }
  body button:focus, body input:focus, body select:focus, body textarea:focus {
    outline: 0; }
  body a {
    color: unset;
    text-decoration: none; }
    body a:hover, body a:active, body a:focus {
      text-decoration: none;
      color: unset; }
  body i {
    font-size: 15px; }
  body .fa-map-marker, body .fa-plane {
    font-size: 20px; }
  body .fa-envelope {
    font-size: 14px; }
  body .heading-hide {
    display: none; }
  body .back-to-top {
    position: fixed;
    bottom: -50px;
    right: -50px;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    width: 40px;
    height: 40px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px !important;
    -moz-background-clip: padding;
    background-color: #ed7f1e;
    line-height: 45px;
    text-align: center;
    color: #fff;
    display: inline;
    z-index: 999999;
    cursor: pointer; }
    body .back-to-top a {
      display: block;
      color: #fff; }
    body .back-to-top:hover {
      background: #f47339;
      color: #fff; }
    body .back-to-top:hover a, body .back-to-top:focus a {
      color: #fff; }
    body .back-to-top.display {
      bottom: 50px;
      right: 10px; }
    body .back-to-top.fa {
      margin-bottom: 0; }
  @media (max-width: 767px) {
    body {
      font-size: 14px; }
      body .fa-map-marker, body .fa-plane {
        font-size: 16px; } }
  body section:not(.box-slide) {
    width: 100%;
    float: left;
    padding: 50px 0; }
    body section:not(.box-slide) .heading-tt {
      position: relative;
      text-align: center;
      margin-bottom: 40px;
      z-index: 9; }
      body section:not(.box-slide) .heading-tt h2 {
        font-size: 30px;
        margin: 0 0 15px;
        color: #ed7f1e;
        text-align: center;
        text-transform: uppercase; }
    @media (max-width: 767px) {
      body section:not(.box-slide) {
        padding: 30px 0; }
        body section:not(.box-slide) .heading-tt h2 {
          font-size: 24px; } }
  body .pag {
    float: right; }
    body .pag .page-item {
      margin-left: 5px; }
      body .pag .page-item .page-link {
        background: #efefef;
        border: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        padding: unset;
        cursor: pointer; }
        @media (max-width: 767px) {
          body .pag .page-item .page-link {
            width: 35px;
            height: 35px;
            line-height: 35px; } }
      body .pag .page-item:hover .page-link {
        background: #ed7f1e;
        color: #fff; }
    body .pag .active .page-link {
      background: #ed7f1e;
      color: #fff; }
  body .clickall {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10; }
  body .item-prod {
    box-shadow: 0px 0px 20px 0px #00000010;
    position: relative;
    margin-bottom: 30px;
    z-index: 9; }
    body .item-prod .box-img-prod {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 75%;
      overflow: hidden; }
      body .item-prod .box-img-prod img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      body .item-prod .box-img-prod:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    body .item-prod .info-prod {
      padding: 20px; }
      body .item-prod .info-prod .title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        min-height: 48px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        body .item-prod .info-prod .title:hover {
          color: #ed7f1e; }
      body .item-prod .info-prod .time-tour {
        font-weight: 700; }
        body .item-prod .info-prod .time-tour span {
          font-weight: 400; }
      body .item-prod .info-prod .price .price-sale {
        font-size: 24px;
        color: #f47339;
        font-weight: 700;
        margin-right: 5px; }
      body .item-prod .info-prod .price .price-o {
        font-size: 15px;
        text-decoration: line-through; }
      body .item-prod .info-prod .des-prod {
        font-size: 13px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 58px;
        font-style: italic; }
      @media (max-width: 767px) {
        body .item-prod .info-prod .title {
          font-size: 16px;
          min-height: 40px; }
        body .item-prod .info-prod .price .price-sale {
          font-size: 20px; } }
    body .item-prod .tag-sale {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      background: #ed7f1e;
      color: #fff;
      z-index: 9; }
  body .box-img-prod {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 75%;
    overflow: hidden; }
    body .box-img-prod img {
      object-fit: cover;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    body .box-img-prod:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  @media (min-width: 992px) {
    body section.sec-list .item-prod {
      margin-bottom: 60px; } }
  body section.list-img-place ul li {
    position: relative;
    float: left;
    width: 25%; }
    body section.list-img-place ul li .box-img-prod {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 80%;
      overflow: hidden; }
      body section.list-img-place ul li .box-img-prod img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      body section.list-img-place ul li .box-img-prod:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    body section.list-img-place ul li:first-child .box-img-prod {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 160%;
      overflow: hidden; }
      body section.list-img-place ul li:first-child .box-img-prod img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      body section.list-img-place ul li:first-child .box-img-prod:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
    body section.list-img-place ul li .title-pos-center {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-family: SVNAnastasia;
      font-size: 35px;
      width: 100%;
      z-index: 10;
      padding: 10px;
      color: #fff;
      cursor: pointer; }
    body section.list-img-place ul li .clickall {
      background: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) and (max-width: 991px) {
    body section.list-img-place ul li .title-pos-center {
      font-size: 20px; } }
  @media (max-width: 767px) {
    body section.list-img-place ul li {
      width: 50%; }
      body section.list-img-place ul li:first-child {
        width: 100%; }
        body section.list-img-place ul li:first-child .box-img-prod {
          position: relative;
          height: auto !important;
          width: 100%;
          padding-top: 75%;
          overflow: hidden; }
          body section.list-img-place ul li:first-child .box-img-prod img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out; }
          body section.list-img-place ul li:first-child .box-img-prod:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
      body section.list-img-place ul li .title-pos-center {
        font-size: 18px; }
      body section.list-img-place ul li:first-child .title-pos-center {
        font-size: 25px; } }
  body section.box-slide-hotel .slick-slide {
    margin: 0 15px; }
  body section.box-slide-hotel .slick-dots {
    position: absolute;
    bottom: -25px; }
  body section.box-slide-hotel .slide-list-place h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: none; }
  body section.box-slide-hotel .slide-list-place .slick-active h3 {
    display: block; }
  @media (max-width: 767px) {
    body section.box-slide-hotel .slick-slide {
      margin: 0; }
    body section.box-slide-hotel .slide-list-place h3 {
      font-size: 16px; }
    body section.box-slide-hotel .slick-dots {
      bottom: -20px; } }
  body section.list-services {
    position: relative; }
    body section.list-services:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 285px;
      content: "";
      background-image: url("../images/bgr/bgr1.jpg");
      background-size: cover; }
    body section.list-services:after {
      position: absolute;
      width: 100%;
      height: 285px;
      left: 0;
      top: 0;
      z-index: 0;
      content: "";
      background: rgba(0, 0, 0, 0.3); }
    body section.list-services .heading-tt {
      color: #fff; }
      body section.list-services .heading-tt h2 {
        font-weight: 700;
        color: #fff; }
    body section.list-services .box-img-prod {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 100%;
      overflow: hidden;
      border-radius: 50%; }
      body section.list-services .box-img-prod img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      body section.list-services .box-img-prod:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      body section.list-services .box-img-prod img {
        border-radius: 50%;
        border: 5px solid #fff; }
    body section.list-services .item-prod {
      box-shadow: none; }
      body section.list-services .item-prod .img-radius {
        padding: 15px 55px; }
      body section.list-services .item-prod .info-prod {
        text-align: center; }
        body section.list-services .item-prod .info-prod .title {
          text-transform: uppercase; }
        body section.list-services .item-prod .info-prod p {
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden; }
    @media (max-width: 767px) {
      body section.list-services:before, body section.list-services:after {
        height: 215px; }
      body section.list-services .item-prod {
        margin-bottom: 15px; }
        body section.list-services .item-prod .info-prod {
          padding: 5px 10px; } }
    @media (max-width: 575px) {
      body section.list-services .item-prod {
        box-shadow: none; }
        body section.list-services .item-prod .img-radius {
          padding: 15px 30%; } }
  body section.blog .box-list-blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body section.blog .box-list-blog .item-news-big {
      width: calc(60% - 10px);
      position: relative; }
      body section.blog .box-list-blog .item-news-big .info-news {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        z-index: 9;
        background: rgba(0, 0, 0, 0.5);
        color: #fff; }
        body section.blog .box-list-blog .item-news-big .info-news h3 {
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: 700; }
        body section.blog .box-list-blog .item-news-big .info-news .date-time-and-by {
          font-size: 14px; }
      body section.blog .box-list-blog .item-news-big:hover h3 {
        color: #ed7f1e; }
    body section.blog .box-list-blog .list-item-small {
      width: calc(40% - 10px); }
      body section.blog .box-list-blog .list-item-small .item-news {
        position: relative;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        body section.blog .box-list-blog .list-item-small .item-news .img-news {
          width: calc(35% - 5px); }
        body section.blog .box-list-blog .list-item-small .item-news .info-news {
          width: calc(65% - 5px); }
          body section.blog .box-list-blog .list-item-small .item-news .info-news h3 {
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 10px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; }
            body section.blog .box-list-blog .list-item-small .item-news .info-news h3:hover {
              color: #ed7f1e; }
    body section.blog .box-list-blog .date-time-and-by span {
      font-weight: 700;
      font-size: 13px; }
      body section.blog .box-list-blog .date-time-and-by span i {
        color: #ed7f1e; }
    body section.blog .box-list-blog .box-img-prod {
      position: relative;
      height: auto !important;
      width: 100%;
      padding-top: 65%;
      overflow: hidden; }
      body section.blog .box-list-blog .box-img-prod img {
        object-fit: cover;
        margin: auto;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out; }
      body section.blog .box-list-blog .box-img-prod:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1); }
      @media (min-width: 768px) and (max-width: 991px) {
        body section.blog .box-list-blog .box-img-prod {
          position: relative;
          height: auto !important;
          width: 100%;
          padding-top: 80%;
          overflow: hidden; }
          body section.blog .box-list-blog .box-img-prod img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out; }
          body section.blog .box-list-blog .box-img-prod:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); } }
  @media (max-width: 767px) {
    body section.blog .box-list-blog {
      display: unset; }
      body section.blog .box-list-blog .item-news-big {
        width: 100%;
        margin-bottom: 15px; }
        body section.blog .box-list-blog .item-news-big .info-news h3 {
          font-size: 16px; }
      body section.blog .box-list-blog .list-item-small {
        width: 100%; }
        body section.blog .box-list-blog .list-item-small .info-news h3 {
          font-size: 15px !important; } }
  body section.about-id {
    position: relative;
    padding: 130px 0; }
    body section.about-id:before {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: "";
      background-image: url("../images/bgr/bg 3.jpg");
      background-size: cover; }
    body section.about-id:after {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      content: "";
      background: rgba(0, 0, 0, 0.3); }
    body section.about-id .heading-tt {
      color: #fff; }
      body section.about-id .heading-tt h2 {
        color: #fff;
        font-weight: 700; }
    @media (min-width: 992px) {
      body section.about-id .heading-tt {
        padding: 0 245px; } }
  body section.banner-page {
    padding: 0;
    position: relative; }
    body section.banner-page:before {
      position: absolute;
      width: 100%;
      height: 100%;
      content: "";
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.3); }
    body section.banner-page .breadc {
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      text-align: center; }
      body section.banner-page .breadc .breadcrumb {
        justify-content: center;
        margin: 0;
        background: none; }
        body section.banner-page .breadc .breadcrumb li {
          color: #fff;
          opacity: 0.8;
          font-size: 22px; }
          body section.banner-page .breadc .breadcrumb li:before {
            color: #fff; }
          @media (max-width: 767px) {
            body section.banner-page .breadc .breadcrumb li {
              font-size: 15px; } }
        body section.banner-page .breadc .breadcrumb li.active {
          opacity: 1; }
  body section.banner-page-bottom {
    padding: 0;
    position: relative; }
  body section.detail- .pdl-image {
    margin-bottom: 20px; }
  body section.detail- .pdl-small-images .item {
    margin-right: 10px; }
  body section.detail- .pdl-small-images .slick-list {
    width: calc(100% + 9px); }
  body section.detail- .pdl-small-images .reponsive-img {
    position: relative;
    height: auto !important;
    width: 100%;
    padding-top: 75%;
    overflow: hidden; }
    body section.detail- .pdl-small-images .reponsive-img img {
      object-fit: cover;
      margin: auto;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out; }
    body section.detail- .pdl-small-images .reponsive-img:hover img {
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  body section.detail- .pdl-small-images:hover .slick-prev, body section.detail- .pdl-small-images:hover .slick-next {
    opacity: 1;
    visibility: visible; }
  body section.detail- .slick-prev, body section.detail- .slick-next {
    width: 25px;
    height: 25px;
    border: 2px solid #fff; }
    body section.detail- .slick-prev:before, body section.detail- .slick-next:before {
      color: #fff; }
  body section.detail- .slick-prev {
    left: 5px; }
    body section.detail- .slick-prev:before {
      content: "\f0d9";
      font-family: fontAwesome; }
  body section.detail- .slick-next {
    right: 5px; }
    body section.detail- .slick-next:before {
      content: "\f0da";
      font-family: fontAwesome; }
  body section.detail- .box-detail-main {
    margin-bottom: 80px; }
  body section.detail- .box-info-main h2 {
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #000; }
  body section.detail- .box-info-main .rate-star {
    margin-bottom: 30px; }
    body section.detail- .box-info-main .rate-star .checked {
      color: orange; }
  body section.detail- .box-info-main .list-info-main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px; }
    body section.detail- .box-info-main .list-info-main li {
      width: 50%;
      margin-bottom: 10px;
      position: relative;
      padding-left: 25px;
      padding-right: 5px;
      font-size: 14px;
      font-weight: 700; }
      body section.detail- .box-info-main .list-info-main li i {
        position: absolute;
        top: 3px;
        left: 0;
        color: #ed7f1e; }
      body section.detail- .box-info-main .list-info-main li span {
        color: #000; }
  body section.detail- .box-info-main .des-main {
    margin-bottom: 40px;
    font-size: 13px; }
  body section.detail- .box-info-main table {
    font-size: 13px;
    border: 1px solid #87bc25;
    margin-bottom: 80px; }
    body section.detail- .box-info-main table th {
      font-weight: 700;
      text-transform: uppercase; }
    body section.detail- .box-info-main table .bgr-tb {
      background: #87bc25;
      color: #fff;
      text-transform: uppercase; }
  body section.detail- .box-info-main .box-form {
    display: flex;
    justify-content: space-between; }
    body section.detail- .box-info-main .box-form .order-date {
      position: relative;
      width: calc(50% - 10px); }
      body section.detail- .box-info-main .box-form .order-date input {
        width: 100%;
        height: 40px;
        padding: 0 10px 0 50px; }
      body section.detail- .box-info-main .box-form .order-date span {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        z-index: 9;
        border-right: 1px solid gray; }
    body section.detail- .box-info-main .box-form .btn-order {
      width: calc(50% - 10px);
      height: 40px;
      text-align: center;
      background: #ed7f1e;
      color: #fff;
      border: none;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700; }
      body section.detail- .box-info-main .box-form .btn-order:focus {
        outline: 0; }
    body section.detail- .box-info-main .box-form .modal-content {
      border-top: 10px solid #ed7f1e; }
    body section.detail- .box-info-main .box-form .modal-header {
      display: unset;
      text-align: center;
      padding: 50px 0;
      border-bottom: 0; }
      body section.detail- .box-info-main .box-form .modal-header h4 {
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px; }
      body section.detail- .box-info-main .box-form .modal-header .close {
        position: absolute;
        top: -5px;
        background: #000;
        right: 0px;
        z-index: 9;
        opacity: 1;
        height: 30px;
        width: 30px;
        text-align: center;
        line-height: 0;
        font-size: 19px;
        border-radius: 50%;
        color: #fff;
        padding: 0; }
      @media (max-width: 767px) {
        body section.detail- .box-info-main .box-form .modal-header {
          padding: 20px 0; }
          body section.detail- .box-info-main .box-form .modal-header h4 {
            font-size: 20px; } }
    body section.detail- .box-info-main .box-form .modal-body {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      border-bottom: none; }
      body section.detail- .box-info-main .box-form .modal-body .info-order-tour {
        width: calc(50% - 10px); }
        body section.detail- .box-info-main .box-form .modal-body .info-order-tour input {
          margin-bottom: 30px;
          height: 40px;
          width: 100%;
          padding: 0 15px;
          line-height: 40px; }
          body section.detail- .box-info-main .box-form .modal-body .info-order-tour input:last-child {
            margin-bottom: 0; }
        body section.detail- .box-info-main .box-form .modal-body .info-order-tour textarea {
          width: 100%;
          padding: 5px 15px; }
      @media (max-width: 767px) {
        body section.detail- .box-info-main .box-form .modal-body {
          padding: 10px;
          display: unset; }
          body section.detail- .box-info-main .box-form .modal-body .info-order-tour {
            width: 100%; }
            body section.detail- .box-info-main .box-form .modal-body .info-order-tour input {
              margin-bottom: 15px; }
              body section.detail- .box-info-main .box-form .modal-body .info-order-tour input:last-child {
                margin-bottom: 15px; } }
    body section.detail- .box-info-main .box-form .modal-footer {
      text-align: center;
      justify-content: center;
      border-top: none;
      padding: 50px 0; }
      body section.detail- .box-info-main .box-form .modal-footer button {
        width: 300px;
        height: 40px;
        text-align: center;
        background: #ed7f1e;
        color: #fff;
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700; }
      @media (max-width: 767px) {
        body section.detail- .box-info-main .box-form .modal-footer {
          padding: 20px 0; } }
  body section.detail- .box-detail-extra {
    font-family: 'Roboto', sans-serif;
    font-weight: 500; }
    body section.detail- .box-detail-extra .tablinks {
      font-size: 14px;
      text-transform: uppercase;
      height: 45px;
      padding: 0 30px;
      background: #f6f6f6;
      border: none;
      border-bottom: 5px solid #fff;
      font-weight: 700;
      color: #4b4b4b; }
    body section.detail- .box-detail-extra .tablinks.active {
      border-bottom: 5px solid #f6f6f6;
      color: #ed7f1e; }
    body section.detail- .box-detail-extra .tabcontent {
      display: none;
      background: #f6f6f6;
      padding: 30px; }
    body section.detail- .box-detail-extra .content-lichtrinh {
      position: relative;
      padding-left: 30px; }
      body section.detail- .box-detail-extra .content-lichtrinh:before {
        content: "";
        width: 0px;
        height: calc(100% - 50px);
        position: absolute;
        z-index: 2;
        top: 26px;
        left: 7px;
        border-left: 1px dashed #d2d2d2; }
      body section.detail- .box-detail-extra .content-lichtrinh .panel {
        position: relative;
        border-bottom: 1px solid #d2d2d2;
        padding: 20px 0; }
        body section.detail- .box-detail-extra .content-lichtrinh .panel:last-child {
          border-bottom: none; }
      body section.detail- .box-detail-extra .content-lichtrinh .panel-heading {
        position: relative;
        cursor: pointer;
        font-size: 15px; }
        body section.detail- .box-detail-extra .content-lichtrinh .panel-heading:hover {
          color: #ed7f1e; }
        body section.detail- .box-detail-extra .content-lichtrinh .panel-heading:before {
          position: absolute;
          left: -30px;
          z-index: 9;
          top: 0;
          width: 15px;
          height: 15px;
          border-radius: 50%;
          content: "";
          background: #ed7f1e; }
        body section.detail- .box-detail-extra .content-lichtrinh .panel-heading .chevron {
          position: absolute;
          right: 0px;
          top: 0px;
          font-size: 20px; }
      body section.detail- .box-detail-extra .content-lichtrinh .content-lt {
        font-size: 14px;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-style: italic; }
    body section.detail- .box-detail-extra .panel-heading .chevron:after {
      content: "\f0d7"; }
    body section.detail- .box-detail-extra .panel-heading.collapsed .chevron:after {
      content: "\f0d8"; }
    body section.detail- .box-detail-extra .box-tour-sale-r {
      padding: 10px;
      background: #f6f6f6;
      margin-top: 45px; }
      body section.detail- .box-detail-extra .box-tour-sale-r .hd-detail-sale {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        padding: 30px 0;
        text-transform: uppercase;
        color: #ed7f1e; }
      body section.detail- .box-detail-extra .box-tour-sale-r .item-prod {
        box-shadow: none;
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 15px;
        margin-bottom: 20px; }
        body section.detail- .box-detail-extra .box-tour-sale-r .item-prod .box-img-prod {
          margin-bottom: 15px;
          position: relative;
          height: auto !important;
          width: 100%;
          padding-top: 55%;
          overflow: hidden; }
          body section.detail- .box-detail-extra .box-tour-sale-r .item-prod .box-img-prod img {
            object-fit: cover;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out; }
          body section.detail- .box-detail-extra .box-tour-sale-r .item-prod .box-img-prod:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1); }
      body section.detail- .box-detail-extra .box-tour-sale-r .info-prod {
        padding: 0; }
        body section.detail- .box-detail-extra .box-tour-sale-r .info-prod .title {
          font-size: 15px;
          margin-bottom: 10px;
          min-height: unset; }
      body section.detail- .box-detail-extra .box-tour-sale-r .box-info-tour-sale {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 12px; }
        body section.detail- .box-detail-extra .box-tour-sale-r .box-info-tour-sale .price-sale {
          font-size: 13px;
          color: #19bee8; }
        body section.detail- .box-detail-extra .box-tour-sale-r .box-info-tour-sale .time-tour {
          font-style: italic; }
          body section.detail- .box-detail-extra .box-tour-sale-r .box-info-tour-sale .time-tour span {
            font-weight: bold; }
    @media (min-width: 992px) {
      body section.detail- .box-detail-extra .box-tour-sale-r, body section.detail- .box-detail-extra .tabcontent {
        min-height: 850px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      body section.detail- .box-detail-extra .list-tour-sale {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        body section.detail- .box-detail-extra .list-tour-sale li {
          width: calc(50% - 5px); }
          body section.detail- .box-detail-extra .list-tour-sale li .item-prod .title {
            min-height: 36px;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden; } }
  @media (max-width: 991px) {
    body section.detail- .ImgDetailProduct {
      margin-bottom: 15px; } }
  @media (max-width: 767px) {
    body section.detail- .box-detail-main {
      margin-bottom: 35px; }
    body section.detail- .box-info-main h2 {
      font-size: 20px;
      margin-bottom: 15px; }
    body section.detail- .box-info-main .list-info-main {
      margin-bottom: 20px; }
      body section.detail- .box-info-main .list-info-main li {
        font-size: 13px; }
    body section.detail- .box-info-main .des-main {
      margin-bottom: 20px; }
    body section.detail- .box-info-main table {
      font-size: 12px;
      margin-bottom: 30px; }
    body section.detail- .box-info-main .box-form {
      display: unset; }
      body section.detail- .box-info-main .box-form .order-date, body section.detail- .box-info-main .box-form .btn-order {
        width: 100%;
        margin-bottom: 15px; }
    body section.detail- .box-detail-extra .tablinks {
      padding: 0 7px;
      font-size: 13px; }
    body section.detail- .box-detail-extra .tabcontent {
      padding: 10px; }
    body section.detail- .box-detail-extra .content-lichtrinh {
      padding-left: 20px; }
      body section.detail- .box-detail-extra .content-lichtrinh .panel-heading {
        font-size: 14px; }
        body section.detail- .box-detail-extra .content-lichtrinh .panel-heading:before {
          left: -18px;
          width: 12px;
          height: 12px; } }
  body section.detail-hotel .box-info-main h2 {
    margin-bottom: 5px; }
  body section.detail-hotel .box-info-main .box-form {
    justify-content: flex-end; }
    @media (max-width: 767px) {
      body section.detail-hotel .box-info-main .box-form .btn-order {
        width: 100%; } }
  body section.list-blog .item-news {
    margin-bottom: 50px; }
    body section.list-blog .item-news .img-news {
      margin-bottom: 15px; }
    body section.list-blog .item-news .info-news h3 {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 10px;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      min-height: 44px; }
      body section.list-blog .item-news .info-news h3:hover {
        color: #ed7f1e; }
    body section.list-blog .item-news .info-news .date-time-and-by {
      font-size: 13px;
      display: flex;
      flex-wrap: wrap; }
      body section.list-blog .item-news .info-news .date-time-and-by span i {
        color: #ed7f1e; }
      body section.list-blog .item-news .info-news .date-time-and-by .by-author-news {
        font-style: italic;
        margin-left: 20px; }
    @media (max-width: 767px) {
      body section.list-blog .item-news .info-news h3 {
        font-size: 16px; } }
  body section.contact {
    font-family: "Roboto", sans-serif; }
    body section.contact .header-contact {
      margin-bottom: 40px; }
      body section.contact .header-contact h2 {
        font-family: "Arimo", sans-serif;
        font-size: 28px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 100px; }
      body section.contact .header-contact .list-info-contact {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 50px;
        border-bottom: 1px solid #bbbbbb; }
        body section.contact .header-contact .list-info-contact li {
          width: calc((100% - 60px )/3);
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          font-weight: 300; }
          body section.contact .header-contact .list-info-contact li .icon-radius {
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            color: #ed7f1e;
            border: 1px solid #ed7f1e;
            border-radius: 50%; }
          body section.contact .header-contact .list-info-contact li .ct-if {
            width: calc(100% - 60px);
            margin-left: 20px; }
    body section.contact .body-contact label {
      font-size: 18px;
      margin-bottom: 50px;
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 300; }
    body section.contact .body-contact .box-import-contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 35px; }
      body section.contact .body-contact .box-import-contact input {
        width: calc((100% - 60px)/3);
        height: 40px;
        padding: 0 15px;
        line-height: 40px;
        font-weight: 300;
        margin-bottom: 30px; }
      body section.contact .body-contact .box-import-contact textarea {
        width: 100%;
        font-weight: 300;
        padding: 15px; }
    body section.contact .body-contact .box-btn-send {
      text-align: center;
      margin-bottom: 120px; }
      body section.contact .body-contact .box-btn-send button {
        width: 375px;
        height: 55px;
        text-align: center;
        background: #ed7f1e;
        color: #fff;
        border: none;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: "Arimo", sans-serif; }
    @media (max-width: 767px) {
      body section.contact .header-contact h2 {
        font-size: 24px;
        margin-bottom: 30px; }
      body section.contact .header-contact .list-info-contact {
        display: unset;
        margin-bottom: 30px; }
        body section.contact .header-contact .list-info-contact li {
          width: 100%;
          margin-bottom: 15px; }
      body section.contact .body-contact label {
        margin-bottom: 30px; }
      body section.contact .body-contact .box-import-contact input {
        width: 100%;
        margin-bottom: 15px; }
      body section.contact .body-contact .box-btn-send {
        margin-bottom: 50px; }
        body section.contact .body-contact .box-btn-send button {
          width: 100%; } }
  body section.detail-page-content .content-heading {
    margin-bottom: 20px; }
    body section.detail-page-content .content-heading .title-news {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 20px; }
    body section.detail-page-content .content-heading .date-time-and-by i {
      color: #19bee8;
      margin-right: 5px; }
  body section.detail-page-content .heading-extra-r {
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: #ed7f1e;
    font-weight: 700; }
  body section.detail-page-content .list-new-extra .item-news {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #d2d2d2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    body section.detail-page-content .list-new-extra .item-news:last-child {
      border-bottom: none; }
    body section.detail-page-content .list-new-extra .item-news .img-news {
      width: calc(35% - 5px); }
    body section.detail-page-content .list-new-extra .item-news .info-news {
      width: calc(65% - 5px); }
      body section.detail-page-content .list-new-extra .item-news .info-news h3 {
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 5px;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
        body section.detail-page-content .list-new-extra .item-news .info-news h3:hover {
          color: #ed7f1e; }
      body section.detail-page-content .list-new-extra .item-news .info-news .date-time-and-by {
        font-size: 13px; }
        body section.detail-page-content .list-new-extra .item-news .info-news .date-time-and-by i {
          color: #19bee8; }
  @media (max-width: 991px) {
    body section.detail-page-content .page-content-l {
      margin-bottom: 30px; } }
  body .box-bt-ct .item-news {
    box-shadow: 0px 0px 20px 0px #00000010; }
    body .box-bt-ct .item-news .img-news {
      margin-bottom: 0 !important; }
    body .box-bt-ct .item-news .info-news {
      padding: 10px; }
      body .box-bt-ct .item-news .info-news h3 {
        font-size: 16px !important; }
  body .page-content-all .title-news {
    font-size: 28px !important;
    color: #ed7f1e; }
    @media (max-width: 767px) {
      body .page-content-all .title-news {
        font-size: 20px !important; } }

.box-slide {
  position: relative; }
  .box-slide .slide-id {
    position: relative; }
    .box-slide .slide-id .slick-slide img {
      width: 100%;
      max-height: none; }
    .box-slide .slide-id:hover .slick-prev,
    .box-slide .slide-id:hover .slick-next {
      opacity: 1;
      visibility: visible; }
  .box-slide .box-search {
    position: absolute;
    width: 100%;
    bottom: 100px; }
    .box-slide .box-search form {
      padding: 30px;
      background: rgba(255, 255, 255, 0.5);
      display: flex;
      justify-content: space-between; }
      .box-slide .box-search form button {
        height: 65px;
        width: 165px;
        text-transform: uppercase;
        background: #ed7f1e;
        border: none;
        color: #fff; }
      .box-slide .box-search form select, .box-slide .box-search form input {
        height: 65px;
        flex: 1;
        margin-right: 15px;
        padding: 0 20px;
        border: none; }
  @media (max-width: 991px) {
    .box-slide .box-search {
      position: relative;
      width: 100%;
      bottom: unset;
      padding: 10px 0; }
      .box-slide .box-search form {
        padding: 0;
        background: rgba(255, 255, 255, 0.5);
        display: unset;
        justify-content: unset; }
        .box-slide .box-search form button {
          height: 45px;
          width: 100%;
          text-transform: uppercase;
          background: #ed7f1e;
          border: none;
          color: #fff; }
        .box-slide .box-search form select, .box-slide .box-search form input {
          height: 45px;
          width: 100%;
          flex: unset;
          margin-right: 0;
          padding: 0 20px;
          margin-bottom: 5px; } }

.slick-slide img {
  width: 100%;
  max-height: none; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px;
  height: 50px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: 1px solid #ed7f1e;
  border-radius: 50%;
  outline: none;
  background: transparent;
  z-index: 9;
  opacity: 0;
  visibility: hidden; }
  .slick-prev:before,
  .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #ed7f1e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-arrow:focus {
  outline: none; }

.slick-prev {
  left: 20px; }
  .slick-prev:before {
    content: '←'; }

.slick-next {
  right: 20px; }
  .slick-next:before {
    content: '→'; }

.slick-dots {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 17px;
      height: 17px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      border-radius: 50%;
      outline: none;
      background: transparent; }
      .slick-dots li button:before {
        font-family: 'slick';
        font-size: 45px;
        line-height: 17px;
        position: absolute;
        top: 0;
        left: 0;
        width: 17px;
        height: 17px;
        content: '•';
        text-align: center;
        opacity: .5;
        color: #ed7f1e;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  .slick-dots .slick-active button:before {
    opacity: 1;
    visibility: visible; }

#footer {
  padding: 30px 0;
  clear: both;
  background: #f7f7f7; }
  #footer .row > div {
    margin-bottom: 10px; }
  #footer .address-ft .logo-ft {
    width: 95px;
    margin-bottom: 15px;
    padding: 5px; }
  #footer .address-ft h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px; }
  #footer .address-ft p {
    margin-bottom: 10px; }
    #footer .address-ft p i {
      width: 20px;
      color: #ed7f1e; }
  #footer .link-menu-ft li {
    position: relative;
    padding-left: 15px;
    margin-bottom: 15px; }
    #footer .link-menu-ft li:before {
      position: absolute;
      top: 0px;
      left: 0;
      font-family: fontAwesome;
      content: "\f0da";
      color: #ed7f1e; }
    #footer .link-menu-ft li:hover {
      color: #ed7f1e; }
  #footer .title-item-ft {
    font-size: 20px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 30px; }
  @media (max-width: 767px) {
    #footer .title-item-ft {
      margin: 15px 0; } }
